body, ul, li, section{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
.main-layout {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.container {
  width: 90%;
  margin: 0 auto;
}
.text-center{
  text-align: center;
}
