.nav-wrapper{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex: 1;
  list-style: none;
  // align-self: center;
  justify-content: space-around;
  padding: 10px 0;
  .nav-brand{
    width: 200px;
    // padding: 15px 0 0 0;
    margin: 5px 10px;
    a{
      font-size: 24px;
      text-decoration: none;
      color: orange;
    }
  }

  .nav-menu{
    flex: 3;
    li {
      margin: 5px 10px;
      display: inline-block;
      a {
        font-size: 16px;
        text-decoration: none;
        cursor: pointer;
        color: purple;
      }
    }
  }
}
