.section{
  padding-top: 60px;
  min-height: 100vh;
  align-self: center;
  align-items: center;
  &.section-home{

  }

  &.section-messages{
    align-self: flex-start;
    justify-content: space-around;
  }
}
